@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins&display=swap");
:root {
  --brown: #8b3200;
  --black: #545454;
  --paratext: #21201b;
  --btn: #ffe6da;
  --subhead: "Poppins", sans-serif;
  --head: "Caveat", cursive;
  --page2bg: #ccbcb4;
}
* {
  margin: 0;
  padding: 0;
}
.title {
  background-image: url("../images/title\ background.png");
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-heading {
  color: var(--brown);
  font-size: 6.1rem;
  font-family: var(--head);
  font-weight: 100;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.2rem;
}
.title-sub-heading {
  font-size: 1.5rem;
  color: var(--black);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-family: var(--subhead);
}

.details {
  background-color: var(--page2bg);
}
.about {
  margin: 0 100px 0 100px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}

.about-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
.skill-img {
  display: flex;
}

.About-div {
  width: 30vw;
}
.About-div > h2,
.skill-div > h2 {
  font-family: var(--head);
  color: var(--black);
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-weight: lighter;
}
.About-div > p,
.skill-div > p {
  color: var(--paratext);
  font-family: var(--subhead);
  letter-spacing: 0.1rem;
}
.skill-list {
  list-style: circle;
  color: var(--black);
  font-weight: bold;
  font-family: var(--subhead);
  letter-spacing: 0.1rem;
}

.conclusion {
  background-image: url("../images/footer\ bg.png");
  background-attachment: scroll;
  background-size: cover;
  padding: 50px;
}
.conclusive-appeal {
  display: flex;
  margin: 0 50px 0 50px;
  gap: 150px;
}
.conclusive-appeal > p {
  width: 50vw;
  color: var(--brown);
  font-size: 2rem;
  font-family: var(--head);
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h2 {
  font-family: var(--head);
  color: var(--black);
  font-size: 5rem;
  font-weight: lighter;
}

.contact button {
  border: none;
  border-radius: 1rem;
  padding: 10px 40px;
  background-color: var(--btn);
  color: var(--brown);
  font-size: 1rem;
  font-family: var(--subhead);
  letter-spacing: 0.1rem;
}

.contact button:hover {
  cursor: pointer;
  background-color: #ecd3c6;
}
.footer-elements {
  margin: 0 50px;
  display: flex;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.links {
  display: flex;
  width: 10vw;
  justify-content: space-evenly;
}
.footer-sec {
  background-color: var(--page2bg);
}

@media (max-width: 1024px) and (min-width: 768px) {
  .About-div > h2,
  .skill-div > h2 {
    font-size: 3rem;
    letter-spacing: normal;
  }
  .conclusive-appeal > p {
    font-size: 1.1rem;
    width: 25vw;
  }

  .contact h2 {
    font-size: 3rem;
  }
}
@media (max-width: 767px) and (min-width: 425px) {
  .title-heading {
    font-size: 4rem;
  }
  .title-sub-heading {
    font-size: 1.5rem;
  }
  .About-div > p,
  .skill-div > p {
    width: 45vw;
  }
  .About-div > h2,
  .skill-div > h2 {
    font-size: 2rem;
  }
  .about-img > img,
  .skill-img > img,
  .conclusive-appeal > p > img {
    height: 145px;
  }
  .About-div > p,
  .skill-div > p {
    font-size: 0.8rem;
  }
  .skill-list {
    letter-spacing: normal;
  }
  .conclusive-appeal {
    gap: 10px;
  }
  .conclusive-appeal > p {
    font-size: 1rem;
  }
  .contact h2 {
    font-size: 3rem;
  }
  .about {
    margin: 25px 25px;
  }
  .about-img > img,
  .skill-img > img,
  .conclusive-appeal > p > img {
    height: 125px;
  }
  .conclusion {
    padding: 25px 0;
  }
  .links {
    gap: 2px;
  }
}
@media (max-width: 424px) and (min-width: 375px) {
  .About-div,
  .skill-div {
    width: 45vw;
  }
  .About-div > h2,
  .skill-div > h2 {
    font-size: 2rem;
  }
  .about-img > img,
  .skill-img > img,
  .conclusive-appeal > p > img {
    height: 150px;
  }

  .title-heading {
    font-size: 5rem;
  }
  .about {
    margin: 0;
  }
  .conclusion {
    padding: 25px 0px;
  }
  .details {
    padding: 10px;
  }
  .about {
    gap: 0;
  }
  .conclusive-appeal {
    margin: 0 10px;
    gap: 0;
  }
  .conclusive-appeal > p {
    font-size: 1rem;
  }
  .links {
    gap: 2px;
  }

  .About-div > p,
  .skill-div > p {
    letter-spacing: normal;
    font-size: 0.8rem;
  }
}
@media (max-width: 374px) and (min-width: 320px) {
  .about{
    margin: 0;
    gap: 0;
  }
  .conclusive-appeal{
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .about-img > img,.skill-img > img,.conclusive-appeal > p > img {
    height: 125px;
  }
  .About-div {
    width: 45vw;
}
.conclusive-appeal > p{
  font-size: 1rem;
}
.About-div > p, .skill-div > p{
  letter-spacing: normal;
}
  .title-heading {
    font-size: 5rem;
  }
  .About-div > h2, .skill-div > h2{
    font-size: 2rem;
  }
  
.conclusion {
    padding: 50px 15px;
}
.contact h2{
  font-size: 3rem;
}
.links {
  gap: 1px;
}
.details{
  padding: 10px;
}
}